<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title wicket:id="title">title comes here</title>
    <link rel="stylesheet" type="text/css" href="css/all.css"/>
<!--    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="template/style.css"/>-->
</head>
<body>

	<span wicket:id="mainNavigation"/>
    <span wicket:id="border">
            <div id="center-column">
                <div class="top-bar">
                    <a href="#" class="button">ADD NEW </a>
                    <h1>Contents</h1>
                    <div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
                </div><br />
                <div class="select-bar">
                    <label>姓名:</label>
                    <label>
                        <input type="text" name="textfield" size=10/>
                    </label>
                    <label>ID:</label>
                    <label>
                        <input type="text" name="textfield" size=10/>
                    </label>
                    <label>注册时间:</label>
                    <lable>
                        <input type="date" name="textfield" size=10/>
                    </lable>
                    <label>等级:</label>
                    <label>
                        <input type="text" name="textfield" size=10/>
                    </label>
                    <div >
                        <label>起始时间:</label>
                        <label>
                            <input type="date" name="textfield" size=10/>
                        </label>
                        <label>终止时间:</label>
                        <label>
                            <input type="date" name="textfield" size=10/>
                        </label>
                        <label>
                            <input type="submit" name="Submit" value="Search" />
                        </label>
                    </div>
                </div>


        Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit. Donec sed velit sit amet arcu commodo aliquet. Nunc
        consectetuer. Donec sollicitudin congue justo. Etiam wisi nisl, vehicula
        eget

        <p>
            <span>contents here</span>
        </p>
            </div>
	    </span><!-- end of border -->
</body>
</html>
