<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title wicket:id="title">title comes here</title>
	<link rel="stylesheet" type="text/css" href="css/all.css"/>
<!--    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="template/style.css"/>-->
</head>
<body>

<wicket:border>
	<div id="main">
<!--<div id="main">
	<div id="header">
		<a href="www.changyou.com" style="color: #E9601A" target="_top"><img src="logo.png" width="122" height="74" alt=""  /></a>
		<ul id="top-navigation">
			<li class="active"><span><span>Homepage</span></span></li>
			<li><span><span><a href="#">Users</a></span></span></li>
			<li><span><span><a href="#">Orders</a></span></span></li>
			<li><span><span><a href="#">Settings</a></span></span></li>
			<li><span><span><a href="#">Statistics</a></span></span></li>
			<li><span><span><a href="#">Design</a></span></span></li>
			<li><span><span><a href="#">Contents</a></span></span></li>
		</ul>
	</div>-->
	<div id="middle">
		<div id="left-column">
			<h3>Header</h3>
			<ul class="nav">
				<li><a href="#" wicket:id="page1Link">Page 1</a></li>
				<li><a href="#" wicket:id="page2Link">Page 2</a></li>
				<li><a href="#">Lorem dollar</a></li>
				<li><a href="#">Ipsum dollar</a></li>
				<li><a href="#">Lorem Ipsum dollar</a></li>
				<li class="last"><a href="#">Dollar Lorem Ipsum</a></li>
			</ul>
			<h3>Header</h3>
			<ul class="nav">
				<li><a href="#">Lorem Ipsum dollar</a></li>
				<li><a href="#">Dollar</a></li>
				<li><a href="#">Lorem dollar</a></li>
				<li><a href="#">Ipsum dollar</a></li>
				<li><a href="#">Lorem Ipsum dollar</a></li>
				<li class="last"><a href="#">Dollar Lorem Ipsum</a></li>
			</ul>
		</div>
		<!--<div id="center-column">-->
			<wicket:body />
		<!--</div>-->
		</div>
</div>
</wicket:border>
	<div id="footer" class="borderedBlock">
	 footer
	</div>



</body>
</html>
